<div>
    <h2 id="page-heading">
        <span jhiTranslate="matv51App.transferclassification.home.title">Transferclassifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transferclassification-stock-and-sales-utility" [routerLink]="['/transferclassification-stock-and-sales-utility/new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="matv51App.transferclassification.home.createLabel">
            Create new Transferclassification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'matv51App.transferclassification.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="transferclassifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="matv51App.transferclassification.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="matv51App.transferclassification.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isOutgoingTransfer"><span jhiTranslate="matv51App.transferclassification.isOutgoingTransfer">Is Outgoing Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isIncomingTransfer"><span jhiTranslate="matv51App.transferclassification.isIncomingTransfer">Is Incoming Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isInternalTransfer"><span jhiTranslate="matv51App.transferclassification.isInternalTransfer">Is Internal Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="matv51App.transferclassification.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let transferclassification of transferclassifications ;trackBy: trackId">
                <td><a [routerLink]="['/transferclassification-stock-and-sales-utility', transferclassification.id, 'view' ]">{{transferclassification.id}}</a></td>
                <td>{{transferclassification.code}}</td>
                <td>{{transferclassification.name}}</td>
                <td>{{transferclassification.isOutgoingTransfer}}</td>
                <td>{{transferclassification.isIncomingTransfer}}</td>
                <td>{{transferclassification.isInternalTransfer}}</td>
                <td>{{transferclassification.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transferclassification-stock-and-sales-utility', transferclassification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transferclassification-stock-and-sales-utility', transferclassification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transferclassification-stock-and-sales-utility/'+ transferclassification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
