<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="addressclassification">
            <h2><span jhiTranslate="matv51App.addressclassification.detail.title">Addressclassification</span> {{addressclassification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="matv51App.addressclassification.code">Code</span></dt>
                <dd>
                    <span>{{addressclassification.code}}</span>
                </dd>
                <dt><span jhiTranslate="matv51App.addressclassification.name">Name</span></dt>
                <dd>
                    <span>{{addressclassification.name}}</span>
                </dd>
                <dt><span jhiTranslate="matv51App.addressclassification.comments">Comments</span></dt>
                <dd>
                    <span>{{addressclassification.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/addressclassification-stock-and-sales-utility', addressclassification.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
